<br>
<br>
	<div class="row text-center">
		<img class="small-8 small-centered medium-6 medium-centered large-4 large-centered columns" src="images/gs-logo.png">		
	</div>
<br>

<div class="row">
	<div class="small-12 small-centered medium-10 large-12 columns columns home-body">
		<h2>Add a Player</h2>
		<form class="small-12 small-centered medium-8 large-8 columns" ng-submit="addPlayer(player)">
		  <input ng-model="player.name" type="text" placeholder="Player Name">
		  <input ng-model="player.parent" type="text" placeholder="Parent Name">
		  <input ng-model="player.email" type="text" placeholder="Parent Email">
		  <input ng-model="player.phone" type="text" placeholder="Parent Phone">

		 
  <div class="row">
    <div class="large-4 columns">
        <input type="text" placeholder="Player Name" />
      </label>
    </div>
    <div class="large-4 columns">
        <input type="text" placeholder="Parent Name" />
      </label>
    </div>    
  </div>

		  <div class="row">
			  <button class="small-6 small-centered medium-8 large-7 columns info">Add Player</button>
			</div>
		</form>
	</div>
</div>

<form>
  <div class="row">
    <div class="large-4 columns">
      <label>Input Label
        <input type="text" placeholder="large-4.columns" />
      </label>
    </div>
    <div class="large-4 columns">
      <label>Input Label
        <input type="text" placeholder="large-4.columns" />
      </label>
    </div>
    <div class="large-4 columns">
      <div class="row collapse">
        <label>Input Label</label>
        <div class="small-9 columns">
          <input type="text" placeholder="small-9.columns" />
        </div>
        <div class="small-3 columns">
          <span class="postfix">.com</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Select Box
        <select>
          <option value="husker">Husker</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Choose Your Favorite</label>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
    </div>
    <div class="large-6 columns">
      <label>Check these out</label>
      <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Textarea Label
        <textarea placeholder="small-12.columns"></textarea>
      </label>
    </div>
  </div>
</form>