<br>
<br>
	<div class="row text-center">
		<img class="small-8 small-centered medium-6 medium-centered large-4 large-centered columns" src="images/gs-logo.png">		
	</div>
<br>

<div class="row">
	<div class="small-12 small-centered medium-10 large-8 columns columns home-body">
		<h2>Add a Team</h2>
		<form class="small-12 small-centered medium-8 large-8 columns" ng-submit="addTeam(team)">
		  <input ng-model="team.name" type="text" placeholder="Team Name">
		  <input ng-model="team.sport" type="text" placeholder="Sport">
		  <div class="row">
			  <button class="small-6 small-centered medium-8 large-7 columns info">Create Team</button>
			</div>
		</form>
	</div>
</div>